body {
  height: 100vh;
  background-color: #F4F4F4;
  font-family: Arial;
  font-size: 14px; }

img {
  width: 220px;
  height: auto; }

.box {
  margin: 0 auto;
  max-width: 900px;
  height: 80%;
  padding: 5px 0 0 55px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  flex-wrap: wrap; }
  .box__container {
    width: 220px;
    height: 180px;
    background: white;
    margin: 15px;
    padding: 15px;
    justify-content: center; }
  .box__box {
    width: 220px; }

.img__info {
  color: #AAA; }

.eye__icon {
  margin-left: 90px; }
